alembic
asgi_lifespan
argon2_cffi
asyncio
asyncpg
bcrypt==3.2.2
black
colorama
email-validator
fastapi<0.100
greenlet
httpx
isort
loguru
mypy
openai
passlib==1.7.4
pathlib
pre-commit
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
PyPDF2
SQLAlchemy>=2.0.22,<2.1
trio
uvicorn
pydantic<2
python-multipart
